.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer p {
  font-size: 12px;
  text-align: center;
}

.set-language-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer p {
    text-align: left;
  }

  .footer > * {
    width: 30%;
  }
}
