@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.button-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  font-family: "Raleway";
}

.header-placeholder {
  height: 72px;
}

.fade-in {
  transition: opacity 2500ms ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 2500ms ease;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}
