.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.hero-image-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header-image2.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 1;
}

.hero-image-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background1.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 1;
}

.hero-content {
  position: absolute;
  z-index: 10;
}

.logo-hero {
  width: 65%;
  position: absolute;
}

.frosted-glass {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 20px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .frosted-glass {
    width: 40vw;
  }

  .logo-hero {
    width: 40%;
  }
}
