.hours {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.hours-text {
  background-color: #000;
  color: #fff;
  width: 30vw;
  padding: 20px;
  margin-top: 80px;
  margin-right: -80px;
  z-index: 100;
}

.hours-img {
  width: 60vw;
  z-index: 50;
}

@media only screen and (min-width: 768px) {
  .hours-text {
    width: 20vw;
  }

  .hours-img {
    width: 40vw;
  }
}
